on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: 'Y'
      - name: build
        run: |
          mkdir build
          for vol in Y/*/ ; do
            stem=$(basename "$vol")
            (
              cd "$vol" && zip -r "../../build/${stem}.epub" *
            )
          done
          zip -j "build/index-Y-${GITHUB_REF_NAME}.zip" build/*
      - uses: softprops/action-gh-release@v2
        with:
          files: build/*
